DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=change-me
DEBUG=True
TIME_ZONE=Europe/Moscow
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SECURE_HSTS_SECONDS=31536000
LOG_LEVEL=INFO

DATABASE_URL=postgres://platform:platform@localhost:5432/platform
CACHE_URL=
REDIS_URL=redis://localhost:6379/0
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/2
CELERY_TASK_ALWAYS_EAGER=False
CELERY_TASK_IGNORE_RESULT=True
CELERY_TASK_SOFT_TIME_LIMIT=240
CELERY_TASK_TIME_LIMIT=300
CELERY_WORKER_CONCURRENCY=2
DATABASE_CONN_MAX_AGE=60

DEFAULT_FROM_EMAIL=noreply@example.local
SERVER_EMAIL=server@example.local
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False

PUBLIC_CONTACT_EMAIL=service@atlas-machinery.ru
PUBLIC_CONTACT_PHONE=+7 800 000-00-00
PUBLIC_OPERATOR_NAME=Сервисная служба
PUBLIC_OPERATOR_ADDRESS=Москва, Россия

USE_S3_STORAGE=False
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_ENDPOINT_URL=
AWS_S3_CUSTOM_DOMAIN=
AWS_DEFAULT_ACL=private
AWS_QUERYSTRING_AUTH=True
AWS_FILE_OVERWRITE=False
AWS_MEDIA_LOCATION=media
